.navbar {
    background-color: white;
    position: fixed;
    bottom: 0;
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
}

.item-wrapper {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: .5rem 0;
    border: 1px solid #51008C;
    border-right: 0;
}

.item-wrapper i {
    color: #51008C;
}

.navbar-item {
    text-decoration: none;
    color: white;
}